<div class="sidebar-footer">
    <ul>
        <li><a href="javascript:void(0);">About Us</a></li>
        <li><a href="javascript:void(0);">Our Team</a></li>
        <li><a href="javascript:void(0);">Careers</a></li>
        <li><a href="javascript:void(0);">Support</a></li>
        <li><a href="javascript:void(0);">Events</a></li>
        <li><a href="javascript:void(0);">Campus</a></li>
        <li><a href="javascript:void(0);">Privacy Policy</a></li>
        <li><a href="javascript:void(0);">Terms & Conditions</a></li>
        <li><a href="javascript:void(0);">Contact Us</a></li>
    </ul>
    <p>Copyright 2017 All rights reserved.</p>
</div>