<app-navbar active="'campus'"></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
            <div class="sticky-width sticky wide">
                <!--left sidebar-->
                <div class="fixed-sidebar">
                    <div class="sidebar-info"> <img src="images/univ-logo.jpg" alt="" />
                        <h4>University of Manchester</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#communityFeed">
                                <i class="material-icons">person_pin</i>
                                <span class="link-text">All Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityFreshersHome">
                                <i class="material-icons">school</i>
                                <span class="link-text">Freshers Feed</span>
                            </a>
                        </li>
                        <li>
                            <a href="#coursesFeed">
                                <i class="material-icons">account_balance</i>
                                <span class="link-text">Course feed</span>
                            </a>
                        </li>
                        <li id="classes-menu" class="active-link dropdown-list">
                            <a href="javascript:void(0);" ng-click="vm.dropdownOpen = !vm.dropdownOpen">
                                <i class="material-icons">book</i><span class="link-text">Classes <i class="material-icons pull-right">keyboard_arrow_down</i></span>
                            </a>
                            <div class="dropdown-list-item" ng-if="vm.dropdownOpen">
                                <a href="#communityClassesList">All Classes</a>
                                <a href="#communityClass">Auditing</a>
                                <a href="#communityClass">Business Accounting</a>
                                <a href="#communityClass">Forensic Accounting</a>
                            </div>
                        </li>
                        <li>
                            <a href="#studentHome">
                                <i class="material-icons">people</i>
                                <span class="link-text">Student group</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityGroup">
                                <i class="material-icons">group_work</i>
                                <span class="link-text">Societies & Clubs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#marketPlace">
                                <i class="material-icons">add_shopping_cart</i>
                                <span class="link-text">Market Place</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityJobCenter">
                                <i class="material-icons">work</i>
                                <span class="link-text">Job Center</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <h1 class="text-center sub-title">Welcome to Accounting and Finance!</h1>
            <h4 class="text-with-button">To Get started you need to Add your Classes <a href="#communityClass" class="pull-right btn btn-blue" id="btn-process">Proceed</a></h4>
            <div class="spacer20"></div>
            <ul class="items-list">
                <li>
                    <label for="default">Auditing
                        <input type="checkbox" id="default" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="primary">Business Accounting
                        <input type="checkbox" id="primary" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="info">Forensic Accounting
                        <input type="checkbox" id="info" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="success">Economic
                        <input type="checkbox" id="success" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="warning">Introduction to Finance
                        <input type="checkbox" id="warning" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="danger">Finance
                        <input type="checkbox" id="danger" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
            </ul>
        </div>
    </div>
</div>