<app-navbar active="'campus'"></app-navbar>

<div class="container fixed-header">
    <div class="row">
        <div class="col-md-2">
            <div class="sticky-width sticky">
                <!--left sidebar-->
                <div class="sidebar-info"> <img src="images/univ-logo.jpg" alt="" />
                    <h4>University of Manchester</h4>
                </div>
                <div class="sidebar-links campus-menu">
                    <ul>
                        <li><a href="community-feed.html"><i class="icon-all-students"></i><span class="link-text">All Students</span></a></li>
                        <li><a href="community-year-enrollment.html"><i class="icon-feed"></i><span class="link-text">Freshers Feed</span></a></li>
                        <li><a href="community-course-list.html"><i class="icon-feed"></i><span class="link-text">Course feed</span></a></li>
                        <li id="classes-menu" class="active-link dropdown-list">
                            <a href="javascript:void(0);" ng-click="vm.dropdownOpen = !vm.dropdownOpen">
                                <i class="icon-classes"></i>
                                <span class="link-text">Classes</span>
                                <i class="arrow-down"></i>
                            </a>
                            <div class="dropdown-list-item" ng-if="vm.dropdownOpen">
                                <a href="community-class.html">Auditing</a>
                                <a href="community-class.html">Business Accounting</a>
                                <a href="community-class.html">Forensic Accounting</a>
                            </div>
                        </li>
                        <li><a href="student-home.html"><i class="icon-sgroup"></i><span class="link-text">Student group</span></a></li>
                        <li><a href="community-group.html"><i class="icon-clubs"></i><span class="link-text">Societies & Clubs</span></a></li>
                        <li><a href="market-place.html"><i class="icon-marketplace"></i><span class="link-text">Market Place</span></a></li>
                        <li><a href="community-job-center.html"><i class="icon-job"></i><span class="link-text">Job Center</span></a></li>
                    </ul>
                </div>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10">
            <h1 class="text-center sub-title">Welcome to Accounting and Finance!</h1>
            <h4>To Get started you need to Add your Classes <a href="community-class.html" class="pull-right btn btn-blue" id="btn-process">Proceed</a></h4>
            <div class="spacer20"></div>
            <ul class="items-list">
                <li>
                    <label for="default">Auditing
                        <input type="checkbox" id="default" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="primary">Business Accounting
                        <input type="checkbox" id="primary" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="info">Forensic Accounting
                        <input type="checkbox" id="info" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="success">Economic
                        <input type="checkbox" id="success" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="warning">Introduction to Finance
                        <input type="checkbox" id="warning" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
                <li>
                    <label for="danger">Finance
                        <input type="checkbox" id="danger" class="badgebox">
                        <span class="badge">✓</span></label>
                </li>
            </ul>
        </div>
    </div>
</div>