<app-navbar active="'leisure'"></app-navbar>
<div class="container fixed-header">
    <div>
        <!-- Nav pills -->
        <ul class="nav nav-pills">
            <li><a href="#eventsHome">Home</a></li>
            <li><a href="#myEvents">My Events</a></li>
            <li><a href="#dealsHub">Deals Hub</a></li>
            <a href="#createEvent" class="create-btn">Create an Event</a>
        </ul>
        <!-- Tab pills -->
        <div class="clear"></div>
        <!-- Tab pills -->
        <div class="row">
            <div class="col-md-9 paddingR0">
                <div class="event-banner slider-split" id="events-slider">
                    <ng-owl-carousel class="owl-theme" owl-items="vm.items" owl-properties="vm.properties">
                        <div class="item" style="background:url(images/event-banner.jpg) no-repeat; height:355px;">
                            <div class="event-header-info"> <span class="opp-news">Scholarship opportunity for SLC card +2 appeared students</span>
                                <h1 class="event-tagline">Education Expo <span>2016</span></h1>
                                <span class="event-detail-loc">(Bay Area, Sans Francisco, 6-7th October)</span> </div>
                        </div>
                        <div class="item" style="background:url(images/event-banner.jpg) no-repeat; height:355px;">
                            <div class="event-header-info"> <span class="opp-news">Scholarship opportunity for SLC card +2 appeared students</span>
                                <h1 class="event-tagline">Education Expo <span>2016</span></h1>
                                <span class="event-detail-loc">(Bay Area, Sans Francisco, 6-7th October)</span> </div>
                        </div>
                    </ng-owl-carousel>
                </div>
            </div>
            <div class="col-md-3 paddingL0">
                <div class="slider-right-info">
                    <ul class="event-info-list">
                        <li>
                            <label>Ticket Type:</label>
                            <span class="value">Paid Entry</span></li>
                        <li>
                            <label>End:</label>
                            <span class="value">4th October</span></li>
                    </ul>
                    <div class="pricing-block">
                        <div class="event-user-price">$25</div>
                        <div class="event-user-qty"> <span class="qty-input">
              <label>Qty.</label>
              <input type="text" class="form-control" value="1" readonly="readonly" name='quantity' />
              </span> <span class="qty-action"> <a href="javascript:void(0)" class="qty-up qtyplus" field='quantity'><i></i></a> <a href="javascript:void(0)" class="qty-down qtyminus" field='quantity'><i></i></a> </span> </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <p><a href="javascript:void(0);" class="btn btn-primary btn-block">Buy Ticket</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 events-timeline">
                <!--create post-->
                <ul class="post-action">
                    <li class="active"><a href="javascript:void(0);" class="create-post-link" ng-click="vm.postLink($event)">Write a Post</a></li>
                    <li><a href="javascript:void(0);" ng-click="vm.pollLink($event)" class="create-poll-link">Create Poll</a></li>
                    <li><a href="javascript:void(0);" class="guest-link" ng-click="vm.guestLink($event)">Event Guest List</a></li>
                </ul>
                <div class="create-post"> <a href="javascript:void(0);" class="img-upload"></a>
                    <input class="upload-file" type="file" style="display:none;" />
                    <textarea class="form-control" placeholder="Whats happening?"></textarea>
                </div>
                <div class="create-poll" style="display:none;">
                    <textarea class="form-control" placeholder="Ask something..."></textarea>
                    <ul class="poll-option">
                        <li>
                            <input type="text" placeholder="Add an option" />
                        </li>
                        <li>
                            <input type="text" placeholder="Add an option" />
                        </li>
                    </ul>
                    <div><a href="javascript:void(0);" class="btn-add-new" id="add-poll-opt">Add New</a></div>
                    <div class="bottom-block">
                        <input type="button" class="btn btn-blue btn-sm" value="Post" />
                    </div>
                </div>
                <div class="guest-list" style="display:none;">
                    <input type="text" class="form-control" placeholder="Add Name" />
                    <div class="bottom-block">
                        <input type="button" class="btn btn-blue btn-sm" value="Add" />
                    </div>
                </div>
                <!--create post-->
                <div class="single-post">
                    <div class="post-head">
                        <div class="post-user"><img src="images/user-post.jpg" alt=""></div>
                        <div class="post-info"> <a class="post-by" href="javascript:void(0);">Tammy Everts</a> <span class="post-time">•  July 16, 2016</span>
                            <h1 class="post-title"><a href="javascript:void(0);" ng-click="vm.openPostDetail('lg')">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</a></h1>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img"><img src="images/saudi.jpg" alt=""></div>
                        <div class="post-share">
                            <ul>
                                <li>Like • &nbsp;205 Likes</li>
                                <li class="reply">106 Replies</li>
                                <li class="view">670 Views</li>
                                <li class="share">100 Shares</li>
                                <li class="report"><a href="javascript:void(0);" ng-click="vm.openReport('sm')">Report</a></li>
                            </ul>
                        </div>
                        <div class="add-comment"><a href="javascript:void(0);">Write a comment (Use @ to mention people)</a></div>
                    </div>
                </div>
                <div class="single-post">
                    <div class="post-head">
                        <div class="post-user"><img src="images/user-post.jpg" alt=""></div>
                        <div class="post-info"> <a class="post-by" href="javascript:void(0);">Tammy Everts</a> <span class="post-time">•  July 16, 2016</span>
                            <h1 class="post-title"><a href="javascript:void(0);" ng-click="vm.openPostDetail('lg')">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</a></h1>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-img"><img src="images/saudi.jpg" alt=""></div>
                        <div class="post-share">
                            <ul>
                                <li>Like • &nbsp;205 Likes</li>
                                <li class="reply">106 Replies</li>
                                <li class="view">670 Views</li>
                                <li class="share">100 Shares</li>
                                <li class="report"><a href="javascript:void(0);" ng-click="vm.openReport('sm')">Report</a></li>
                            </ul>
                        </div>
                        <div class="add-comment"><a href="javascript:void(0);">Write a comment (Use @ to mention people)</a></div>
                    </div>
                </div>
                <a class="btn btn-white btn-block" href="javascript:void(0);">Load More...</a> </div>
            <div class="col-md-6">
                <div class="highlight-box" style="min-height:1170px;">
                    <div class="top-bar">&nbsp;</div>
                    <div class="clear"></div>
                    <div class="mid-bar"> <span class="event-det-venue">Venue: 123, Main Street, London, UK</span> <span class="event-det-date">6-7th Oct, 2016</span> <span class="event-det-time">5pm</span> </div>
                    <div class="event-org">
                        <p class="event-title">Event Organizer</p>
                        <div class="event-org-info"> <img class="org-profile" src="images/profile-pic-lg.jpg" alt=""> <span class="org-name">
              <h2>John Smith</h2>
              <p class="profile-desc">Students&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;Los Anageles, LA</p>
              </span> </div>
                        <div class="org-action">
                            <input type="button" value="Call" class="btn btn-primary" />
                            <div class="spacer10"></div>
                            <input type="button" value="Message" class="btn btn-primary" />
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="event-info-content">
                        <p class="event-title">About Event</p>
                        <h6 class="event-tag-line"> Quisque maximus quis mi ac efficitur. In tempor suscipit magna et suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam cursus et libero ut suscipit. Integer ultrices, mauris et ornare aliquet, nibh risus auctor sem, sed efficitur ipsum leo quis velit. Maecenas in orci molestie, fermentum felis at, maximus ex. Proin dignissim pharetra mi. </h6>
                        <p>Nulla malesuada ante ac lectus blandit elementum. Nulla interdum diam eu leo congue molestie. In porta elit vitae suscipit egestas. Sed sed malesuada elit, eget volutpat dolor. Proin faucibus placerat diam id vestibulum. Etiam commodo mattis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec consequat tortor. Mauris ut efficitur turpis. Suspendisse et justo at erat molestie aliquet. Nullam placerat ornare tincidunt. Donec erat lectus, sollicitudin non vestibulum vel, aliquet nec mi. Aenean molestie nulla in suscipit dictum. Nullam nec libero lacinia, varius ante quis, mollis quam.</p>
                        <p>Nulla malesuada ante ac lectus blandit elementum. Nulla interdum diam eu leo congue molestie. In porta elit vitae suscipit egestas. Sed sed malesuada elit, eget volutpat dolor. Proin faucibus placerat diam id vestibulum. Etiam commodo mattis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec consequat tortor. Mauris ut efficitur turpis. Suspendisse et justo at erat molestie aliquet. Nullam placerat ornare tincidunt. Donec erat lectus, sollicitudin non vestibulum vel, aliquet nec mi. Aenean molestie nulla in suscipit dictum. Nullam nec libero lacinia, varius ante quis, mollis quam.</p>
                        <p>Nulla malesuada ante ac lectus blandit elementum. Nulla interdum diam eu leo congue molestie. In porta elit vitae suscipit egestas. Sed sed malesuada elit, eget volutpat dolor. Proin faucibus placerat diam id vestibulum. Etiam commodo mattis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In nec consequat tortor. Mauris ut efficitur turpis. Suspendisse et justo at erat molestie aliquet. Nullam placerat ornare tincidunt. Donec erat lectus, sollicitudin non vestibulum vel, aliquet nec mi. Aenean molestie nulla in suscipit dictum. Nullam nec libero lacinia, varius ante quis, mollis quam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>