<app-navbar></app-navbar>
<div class="container fixed-header grey">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
            <div class="sticky-width sticky wide">
                <!--left sidebar-->
                <div class="fixed-sidebar">
                    <div class="sidebar-info">
                        <img  src="images/toranto-uni.png" alt="" />
                        <h4>University of Toronto</h4>
                        <ul class="post-share user-star">
                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> </li>
                        </ul>
                    </div>
                    <div class="profile-info">
                        <span><i class="material-icons">account_balance</i> </span><a href="https://www.utoronto.ca/" target="_blank"> https://www.utoronto.ca/</a>
                    </div>
                    <div class="widget media-widget">
                        <h5 class="widget-title "> <i class="material-icons">photo_library</i> Media / Pictures (14)</h5>
                        <ul class="media">
                            <li><i class="btn-play"></i><a href="javascript:void(0);"><img src="images/media1.jpg" alt="" /></a></li>
                            <li><i class="btn-play"></i><a href="javascript:void(0);"></a></li>
                            <li><i class="btn-play"></i><a href="javascript:void(0);"><img src="images/media2.jpg" alt="" /></a></li>
                            <li><i class="btn-play"></i><a href="javascript:void(0);"><img src="images/media3.jpg" alt="" /></a></li>
                        </ul>
                        <div class="text-right widget-bottom">
                            <a href="javascript:void(0);" class="btn flat-btn purple">View All</a>
                        </div>
                    </div>
                </div>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content ">
            <!--left sidebar-->
            <!--content area-->
            <div class="col-md-8 ">
                <div>
                    <div class="tab-pill"><span>TIMELINE</span></div>
                    <!--post-->
                    <div class="top-post">
                        <div class="row">
                            <div class="col-md-3 forum-user-details text-right">
                                <img src="images/user4.jpg" alt="">
                                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                <div class="post-share ">
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star"></i></div>
                            </div>
                            <div class="col-md-9 top-user-left">
                                <p class="post-time">10 h ago</p>
                                <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                            </div>
                            <div class="col-xs-12 post-text">
                                <img class="img-responsive" src="images/post-img1.jpg" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                <div class="post-share">
                                    <ul>
                                        <li>
                                            <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i>
                                            <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                        </li>
                                        <li ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                        <li><i class="material-icons">remove_red_eye</i> 670 Views</li>
                                        <li class="pull-right">
                                            <span uib-dropdown on-toggle="toggled(open)">
                                                <a href id="simple-dropdown" class="flat-btn purple" uib-dropdown-toggle>
                                                    <i class="material-icons">more_vert</i>
                                                </a>
                                                <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                    <li>
                                                        <a class="flat-btn purple" href="#"><i class="material-icons">delete</i>Delete</a>
                                                    </li>
                                                    <li>
                                                        <a class="flat-btn purple" ng-click="vm.openReport('md')" ><i class="material-icons">flag</i>Report</a>
                                                    </li>
                                                </ul>
                                            </span>
                                        </li>
                                        <li class="pull-right"><a class="purple"><i class="material-icons">share</i>Share(23) </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top-post">
                        <div class="row">
                            <div class="col-md-3 forum-user-details text-right">
                                <img src="images/user4.jpg" alt="">
                                <p>Mark Grey<span class="mobile-time visible-xs">10h ago</span></p>
                                <div class="post-share ">
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star fill"></i>
                                    <i class="star"></i></div>
                            </div>
                            <div class="col-md-9 top-user-left">
                                <p class="post-time">10 h ago</p>
                                <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                            </div>
                            <div class="col-xs-12 post-text">
                                <div class="post-share">
                                    <ul>
                                        <li>
                                            <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i>
                                            <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                        </li>
                                        <li ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                        <li><i class="material-icons">remove_red_eye</i> 670 Views</li>
                                        <li class="pull-right">
                                                    <span uib-dropdown on-toggle="toggled(open)">
                                                        <a href id="simple-dropdown" class="flat-btn purple" uib-dropdown-toggle>
                                                            <i class="material-icons">more_vert</i>
                                                        </a>
                                                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
                                                            <li>
                                                                <a class="flat-btn purple" ng-click="vm.openUserMessage('lg')"><i class="material-icons">delete</i>Delete</a>
                                                            </li>
                                                            <li>
                                                                <a class="flat-btn purple" ng-click="vm.openReport('md')" ><i class="material-icons">flag</i>Report</a>
                                                            </li>
                                                        </ul>
                                                    </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--post-->
                    <div class="load-more"><a href="javascript:void(0);">load more...</a></div>
                </div>
            </div>
            <!--content area-->
            <!--right sidebar-->
            <div class="col-md-4 ">
                <following></following>
                <social-widget></social-widget>
                <followers></followers>
                <sidebar-image></sidebar-image>
                <sidebar-footer></sidebar-footer>
            </div>
            <!--right sidebar-->
        </div>

    </div>
</div>