<app-navbar active="'forum'"></app-navbar>
<div class="forum-page-bg">
    <div class="container forum fixed-header">
        <div class="row">
            <div class="col-md-3 forum-leftmenu">
                <div class="sticky-width sticky">
                    <div class="forum-sidebar text-lower">
                        <ul>
                            <li class="forum-home"><a href="#forumHome">
                                <img class="icon" src="images/forum_icon_grey.png"/>
                                <span class="link-text">Forum</span></a>
                            </li>
                            <li class="active-link forum-career"><a href="#forumCareers">
                                <img class="icon" src="images/case_icon_grey.png"/>
                                <span class="link-text">Careers</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 forum-tab">
                <div class="page-title">
                    <p>Careers</p>
                </div>
                <div class="forum-header">
                    <div class="question-widget big">
                        <h4 class="question-title">Ask a question?</h4>
                        <div class="question-input">
                                    <span class="by-user-img">
                                        <img src="images/profile.jpg" alt="" />
                                        <p>Mark Grey</p>
                                    </span>
                            <div class="by-user-text">
                                <i class="input-caret grey-caret"></i>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Title" />
                                    <textarea class="form-control" placeholder="Description of your post..." rows="2"></textarea>
                                </div>

                                <a href="javascript:void(0);" style="width:160px; line-height: 25px;" class=" btn btn-blue">Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 forum-feed">
                    <div class="row">
                        <div class="col-md-8">
                            <!--top post-->
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="images/user4.jpg" alt="">
                                        <p>Mark Grey</p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                        <div class="post-share">
                                            <ul>
                                                <li>
                                                    <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i>
                                                    <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="flat-btn purple"><i class="material-icons">redo</i> Follow Post</button>
                                                </li>
                                                <li class="pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                                <li class="pull-right"><i class="material-icons">remove_red_eye</i> 670 Views</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="images/user4.jpg" alt="">
                                        <p>Mark Grey</p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                        <div class="post-share">
                                            <ul>
                                                <li>
                                                    <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i>
                                                    <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="flat-btn purple"><i class="material-icons">redo</i> Follow Post</button>
                                                </li>
                                                <li class="pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                                <li class="pull-right"><i class="material-icons">remove_red_eye</i> 670 Views</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="images/user4.jpg" alt="">
                                        <p>Mark Grey</p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                        <div class="post-share">
                                            <ul>
                                                <li>
                                                    <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i>
                                                    <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="flat-btn purple"><i class="material-icons">redo</i> Follow Post</button>
                                                </li>
                                                <li class="pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                                <li class="pull-right"><i class="material-icons">remove_red_eye</i> 670 Views</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-post">
                                <div class="row">
                                    <div class="col-md-3 forum-user-details text-right">
                                        <img src="images/user4.jpg" alt="">
                                        <p>Mark Grey</p>
                                        <div class="post-share ">
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star fill"></i>
                                            <i class="star"></i></div>
                                    </div>
                                    <div class="col-md-9 top-user-left">
                                        <p class="post-time">10 h ago</p>
                                        <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                    </div>
                                    <div class="col-xs-12 post-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                        <div class="post-share">
                                            <ul>
                                                <li>
                                                    <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i>
                                                    <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                                </li>
                                                <li class="pull-right">
                                                    <button class="flat-btn purple"><i class="material-icons">redo</i> Follow Post</button>
                                                </li>
                                                <li class="pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                                <li class="pull-right"><i class="material-icons">remove_red_eye</i> 670 Views</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <peers-may-know></peers-may-know>
                            <sidebar-image></sidebar-image>
                            <sidebar-footer></sidebar-footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>