<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Share Post</h4>
</div>
<div class="modal-body">
    <div class="share-block-form">
        <span class="share-user"><img src="images/profile.jpg" alt="" /></span>
        <div class="form-group">
            <label>John Smith</label>
            <textarea placeholder="Say something about this..." class="form-control"></textarea>
        </div>
    </div>

    <div class="post-share-block">
        <div class="row">
            <div class="col-md-4"><img src="images/post-img3.jpg" alt="" class="img-responsive" /></div>
            <div class="col-md-8">
                <h4>Looks like team "Giggle Waters" had the last giggle after all! Congratulations to the Champion</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grey" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-blue">Share</button>
</div>