<app-navbar active="'campus'"></app-navbar>

<div class="container fixed-header grey">
    <div class="row">
        <div class="col-md-2 fixed-sidebar-wrapper">
            <div class="sticky-width sticky wide">
                <!--left sidebar-->
                <div class="fixed-sidebar">
                    <div class="sidebar-info"> <img src="images/univ-logo.jpg" alt="" />
                        <h4>University of Manchester</h4>
                    </div>
                    <ul>
                        <li>
                            <a href="#communityFeed">
                                <i class="material-icons">person_pin</i>
                                <span class="link-text">All Students</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityFreshersHome">
                                <i class="material-icons">school</i>
                                <span class="link-text">Freshers Feed</span>
                            </a>
                        </li>
                        <li class="active-link">
                            <a href="#coursesFeed">
                                <i class="material-icons">account_balance</i>
                                <span class="link-text">Course feed</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityClassesList">
                                <i class="material-icons">book</i>
                                <span class="link-text">Classes</span>
                            </a>
                        </li>
                        <li>
                            <a href="#studentHome">
                                <i class="material-icons">people</i>
                                <span class="link-text">Student group</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityGroup">
                                <i class="material-icons">group_work</i>
                                <span class="link-text">Societies & Clubs</span>
                            </a>
                        </li>
                        <li>
                            <a href="#marketPlace">
                                <i class="material-icons">add_shopping_cart</i>
                                <span class="link-text">Market Place</span>
                            </a>
                        </li>
                        <li>
                            <a href="#communityJobCenter">
                                <i class="material-icons">work</i>
                                <span class="link-text">Job Center</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--left sidebar-->
            </div>
        </div>
        <div class="col-md-10 fixed-sidebar-content">
            <div class="col-xs-12 post-actions">
                <div class="page-title text-center">
                    <p><img src="images/badge.png"/> a lower energy state is achieved</p>
                    <h3>Accounting and Finance</h3>
                </div>
                <ul class="post-action">
                    <li class="active"><a href="javascript:void(0);" class="create-post-link" ng-click="vm.postLink($event)">Write a Post</a></li>
                    <li><a href="javascript:void(0);" ng-click="vm.pollLink($event)" class="create-poll-link">Create Poll</a></li>
                </ul>
                <div class="create-post">
                    <div class="post-input">
                        <i class="input-caret grey-caret"></i>
                        <input class="upload-file" id="uploadImage" type="file" style="display:none;" />
                        <label for="uploadImage" class="img-upload flat-btn"><i class="material-icons">photo_camera</i></label>
                        <textarea class="form-control" placeholder="Whats happening?"></textarea>
                    </div>
                    <a href="javascript:void(0);" class=" btn btn-blue">ADD POST</a>
                </div>
                <div class="create-poll" style="display:none;">
                    <textarea class="form-control" placeholder="Ask something..."></textarea>
                    <ul class="poll-option">
                        <li>
                            <input type="text" placeholder="Add an option" />
                        </li>
                        <li>
                            <input type="text" placeholder="Add an option" />
                        </li>
                    </ul>
                    <div><a href="javascript:void(0);" class="btn-add-new" id="add-poll-opt">Add New</a></div>
                    <div class="bottom-block">
                        <a href="javascript:void(0);" class=" btn btn-blue">ADD POST</a>
                    </div>
                </div>
                <!--create post-->
            </div>
            <!--content area-->
            <div class="col-xs-12 col-sm-8 col-md-8">
                <!--create post-->
                <div>
                    <div>
                        <div class="tab-pill"><span>TIMELINE</span></div>
                        <div class="top-post">
                            <div class="row">
                                <div class="col-md-3 forum-user-details text-right">
                                    <img src="images/user4.jpg" alt="">
                                    <p>Mark Grey</p>
                                    <div class="post-share ">
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star"></i></div>
                                </div>
                                <div class="col-md-9 top-user-left">
                                    <p class="post-time">10 h ago</p>
                                    <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                </div>
                                <div class="col-xs-12 post-text">
                                    <img class="img-responsive" src="images/post-img1.jpg" alt="">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <div class="post-share">
                                        <ul>
                                            <li>
                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star"></i>
                                                <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                            </li>
                                            <li ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                            <li><i class="material-icons">remove_red_eye</i> 670 Views</li>
                                            <li class="pull-right">
                                                <a class="flat-btn purple" href="#"><i class="material-icons">flag</i>Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top-post">
                            <div class="row">
                                <div class="col-md-3 forum-user-details text-right">
                                    <img src="images/user4.jpg" alt="">
                                    <p>Mark Grey</p>
                                    <div class="post-share ">
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star"></i></div>
                                </div>
                                <div class="col-md-9 top-user-left">
                                    <p class="post-time">10 h ago</p>
                                    <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                </div>
                                <div class="col-xs-12 post-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                                    <div class="post-share">
                                        <ul>
                                            <li>
                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star"></i>
                                                <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                            </li>
                                            <li ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                            <li><i class="material-icons">remove_red_eye</i> 670 Views</li>
                                            <li class="pull-right">
                                                <a class="flat-btn purple" href="#"><i class="material-icons">flag</i>Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="top-post">
                            <div class="row">
                                <div class="col-md-3 forum-user-details text-right">
                                    <img src="images/user4.jpg" alt="">
                                    <p>Mark Grey</p>
                                    <div class="post-share ">
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star fill"></i>
                                        <i class="star"></i></div>
                                </div>
                                <div class="col-md-9 top-user-left">
                                    <p class="post-time">10 h ago</p>
                                    <h3 class="post-title grey">Saudi Government Linked To 9/11 Hijackers In Newly Released U.S. Report</h3>
                                </div>
                                <div class="col-xs-12 post-text">
                                    <div class="post-share">
                                        <ul>
                                            <li>
                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star fill"></i>
                                                <i class="star"></i>
                                                <span style="vertical-align: sub;margin-left: 5px;">Likes (135)</span>
                                            </li>
                                            <li ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);"><i class="material-icons">reply</i>106 Replies</a></li>
                                            <li><i class="material-icons">remove_red_eye</i> 670 Views</li>
                                            <li class="pull-right">
                                                <a class="flat-btn purple" href="#"><i class="material-icons">flag</i>Report</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--post-->
                        <div class="load-more"><a href="javascript:void(0);">load more...</a></div>
                    </div>
                </div>
            </div>
            <!--content area-->
            <!--right sidebar-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <peers-online></peers-online>
                <sidebar-footer></sidebar-footer>
            </div>
            <!--right sidebar-->
        </div>
    </div>
</div>