<div class="widget">
    <div class="widget-title">Top Question for you</div>
    <ul class="question-list">
        <li>
            <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
            <p class="question-user">by <a href="#userPage">John Smith</a> 5 min ago</p>
            <div class="post-share">
                <ul>
                    <li class=""><i class="material-icons">remove_red_eye</i>670 Views</li>
                    <li class=""><i class="material-icons">redo</i>100 Shares</li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="btn btn-white flat-btn"><i class="material-icons">create</i> Write Answer</a>
        </li>
        <li>
            <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
            <p class="question-user">by <a href="#userPage">John Smith</a> 5 min ago</p>
            <div class="post-share">
                <ul>
                    <li class=""><i class="material-icons">remove_red_eye</i>670 Views</li>
                    <li class=""><i class="material-icons">redo</i>100 Shares</li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="btn btn-white flat-btn"><i class="material-icons">create</i> Write Answer</a>
        </li>
        <li>
            <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
            <p class="question-user">by <a href="#userPage">John Smith</a> 5 min ago</p>
            <div class="post-share">
                <ul>
                    <li class=""><i class="material-icons">remove_red_eye</i>670 Views</li>
                    <li class=""><i class="material-icons">redo</i>100 Shares</li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="btn btn-white flat-btn"><i class="material-icons">create</i> Write Answer</a>
        </li><li>
        <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
        <p class="question-user">by <a href="#userPage">John Smith</a> 5 min ago</p>
        <div class="post-share">
            <ul>
                <li class=""><i class="material-icons">remove_red_eye</i>670 Views</li>
                <li class=""><i class="material-icons">redo</i>100 Shares</li>
            </ul>
        </div>
        <a href="javascript:void(0);" class="btn btn-white flat-btn"><i class="material-icons">create</i> Write Answer</a>
    </li>

    </ul>
</div>