<div class="home-bg hero-page">
    <!--nav start-->
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#index"><img src="images/logo.png" alt=""></a> </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About Us</a></li>
                    <li class="link-highlight-green"><a href=#signIn">SIGN In</a></li>
                </ul>
            </div>
        </nav>
        <!--/.nav-collapse -->
        <div class="clear"></div>
        <div class="home-banner-title">
            <hgroup>
                <h1>The Social Network For Students</h1>
                <p>Connecting peers with similar interests</p>
            </hgroup>
            <p><a href=#signUp" class="btn btn-blue btn-md">Sign Up For Free</a></p>
            <p><a href="javascript:void(0);" class="btn-learn-more">Learn what you can do with Peersview</a></p>
            <p class="text-center"><a class="arrow-go-down bounce"></a></p>
        </div>
    </div>
    <!--nav end-->
</div>
<!--services block-->
<div class="services-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="service-list-widget">
                    <h4>FORUM</h4>
                    <img src="images/service-forum.jpg" class="img-responsive" alt="" />
                    <p>Meet and conncet with your peers from diverse academic institutions, to share academic and social knowledge. <br />
                        <a href="#forum" class="link-und">Learn More</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-list-widget">
                    <h4>News & Micro BLOGGING</h4>
                    <img src="images/service-news.jpg" class="img-responsive" alt="" />
                    <p>Share and discover Trending News and other information on interest.<a href="#news" class="link-und">Learn More</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-list-widget">
                    <h4>LEISURE</h4>
                    <img src="images/service-events.jpg" class="img-responsive" alt="" />
                    <p>Discover and Create social events. Save money as you find student discounts on Local restaurants and stores.<a href="#events" class="link-und">Learn More</a></p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="service-list-widget">
                    <h4>CAMPUS</h4>
                    <img src="images/campus-screenshot.jpg" class="img-responsive" alt="" />
                    <p>The Campus is a tool for interacting, connecting and collaborating with classmates and school mates. <a href="#community" class="link-und">Learn More</a></p>
                </div>
            </div>
        </div>
        <p class="text-center"><a href=#signUp" class="btn btn-blue">Sign Up Here</a></p>
    </div>
</div>
<!--services block-->
<!--inline tabs block-->
<div id="sticky-anchor"></div>
<div id="sticky">
    <div class="container page-level-tabs">
        <ul>
            <li><a class="active" href="" ng-click="vm.gotoSection('forum')">FORUM</a></li>
            <li><a href="" ng-click="vm.gotoSection('news')">News & Micro BLOGGING</a></li>
            <li><a href="" ng-click="vm.gotoSection('events')">LEISURE</a></li>
            <li><a href="" ng-click="vm.gotoSection('community')">CAMPUS</a></li>
        </ul>
        <a href=#signUp" class="btn btn-blue pull-right">Sign Up</a> </div>
</div>
<!--inline tabs block-->
<!--forum block-->
<div class="forum-block" id="forum">
    <div class="container">
        <div class="row">
            <hgroup class="header-block">
                <h5>Forum</h5>
                <h1>Ask Questions <br />
                    <small>And find the answers among your peers</small></h1>
            </hgroup>
            <div class="col-md-7">
                <ul class="forum-list">
                    <li><i class="discover"></i><span>Discover and discuss topics of Interest</span></li>
                    <li><i class="develop"></i><span>Develop a reputation within your field of study</span></li>
                    <li><i class="community"></i><span>Become part of a community who share common interest with you</span></li>
                    <li><i class="networking"></i><span>Networking with Peers</span></li>
                </ul>
                <p><a href=#signUp" class="btn btn-blue btn-md">GET STARTED</a></p>
            </div>
            <div class="col-md-5 forum-slider">
                <div id="forum-slider">
                    <div class="owl-wrapper-outer">
                        <ng-owl-carousel class="owl-theme" owl-items="vm.items" owl-properties="vm.properties">
                            <div class="item"><img src="images/peerup-screen2.png" alt=""></div>
                            <div class="item"><img src="images/peerup-screen.png" alt=""></div>
                        </ng-owl-carousel>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--forum block-->
<!--news block-->
<div class="news-block" id="news">
    <div class="container">
        <hgroup>
            <h5>News & Micro BLOGGING</h5>
            <h1>Don’t Miss <i>O</i>ut</h1>
            <h3>Keep Up-to-date with the World.</h3>
        </hgroup>
        <ul>
            <li>Keep up with Trending News, New fashion style and Latest gossips</li>
            <li>Read and share meaningful stories on diverse issues.</li>
            <li>Build an Audience among your Peers.</li>
            <li>Your number one platform to find significant information about various Academic institutions and Business organisations.</li>
        </ul>
    </div>
</div>
<!--news block-->
<!--events block-->
<div class="events-block" id="events">
    <div class="container">
        <div class="row">
            <hgroup class="header-block">
                <h5>Leisure</h5>
                <h1>Get Out Have Some Fun!<br />
                    <small>Don't miss out on great discount deals</small></h1>
            </hgroup>
            <div class="center-block">
                <ul class="list-info">
                    <li>Discover upcoming events in your City and neighboring Cities.</li>
                    <li>Book tickets for upcoming Events with ease.</li>
                    <li> <span class="list-title">Event organisers</span>
                        <ul>
                            <li>Advertise your events to the target audience</li>
                            <li>Online ticketing sales</li>
                        </ul>
                    </li>
                    <li>Save money as you find Discounts on Local Restaurants adn Stores.</li>
                </ul>
            </div>
            <div class="info-video text-center">
                <a href="javascript:void(0);" class="btn btn-primary btn-video"><i></i>Watch The Video</a>
            </div>
        </div>
    </div>
</div>
<!--events block-->
<!--community block-->
<div id="community">
    <div class="peers-header">
        <h3>The Peersview Online Campus</h3>
        <h1>An Online Community for Students Within an Academic Institution</h1>
        <p>University life is more interesting when you are part of a community</p>
    </div>
    <div class="peers-content container">
        <div class="row">
            <div class="col-md-6">
                <div class="peers-content-left">
                    <p><img src="images/peers-cycle.png" alt="" /></p>
                    <h1>“What is the Peersview Campus”</h1>
                    <p>The Campus is an enterprise social network designed to integrate purposeful social collaboration into learning. It serves as a virtual Campus for students within an academic institution.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="peers-content-right">
                    <h5 class="block-sec-heading">How it works</h5>
                    <div class="video-player"> <img src="images/video-player.png" alt="" class="img-responsive" /> </div>
                    <p>Peersview creates a vibrant and engaging online campus for students.</p>
                    <p><a href="#contact" class="btn btn-white">Request a Demo</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--community block-->
<!--student block-->
<div class="community-header"> <i class="peersview-brand"></i>
    <h1 class="student-title">Benefits Of The Peersview Campus</h1>
    <ul class="inline-tabs">
        <li class="active"><a href="homepage#container1" class="tab-link1" data-toggle="tab">Students</a></li>
        <li><a href="homepage#container2" class="tab-link2" data-toggle="tab">Academic Institutions</a></li>
        <li><a href="homepage#container3" class="tab-link3" data-toggle="tab">FAQ</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="student-block tab-pane fade in active"  id="container1">
        <div class="container">
            <hgroup class="header-block marginT30">
                <h5>Students</h5>
                <h1>Join Your Institutions Online Campus.</h1>
            </hgroup>
            <div class="row">
                <div class="col-md-4">
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Collaboration on the go</h4>
                        <div class="inline-content" style="display:none;">
                            <ul>
                                <li>A new way to work together</li>
                                <li>Have real-time engagement with classmates on the go</li>
                                <li>Collaborate on assignments</li>
                                <li>Work on group project on the go</li>
                                <li>Prepare for and discuss exams as a group from any location.</li>
                            </ul>
                        </div>
                    </div>
                    <!--inline widget-->
                </div>
                <div class="col-md-4">
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Create study groups</h4>
                        <div class="inline-content" style="display:none;">
                            <p>To work on assignments or exams.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">More efficient learning</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Improve your critical thinking and understanding, with debates and discussions about lectures.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-6">
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Stay on top of it all</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Keep up to date with assignments and deadlines, revision etc by Asking questions from the university community ranging from classmates to seniors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inline-widget black">
                        <h4><em>As an international student you can communicate with your peers before resuming the school year.</em></h4>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-4">
                    <div class="inline-widget">
                        <h4>Join clubs and societies</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inline-widget">
                        <h4>Buy and sell items from other students</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inline-widget">
                        <h4>Find part time jobs within your locality</h4>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--student block-->
    <!--academic block-->
    <div class="academic-block tab-pane fade" id="container2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <hgroup class="header-block">
                        <h5>Academic institution</h5>
                        <h1>Bringing improved social interaction and learning to your academic institution.</h1>
                    </hgroup>
                    <!--inline widget-->
                    <div class="inline-widget black" style="width:50%;">
                        <h4><em>Ease enrolment and orientation process for new students.</em></h4>
                    </div>
                    <!--inline widget-->
                </div>
                <div class="col-md-3">
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Connect the entire school as a community</h4>
                        <div class="inline-content" style="display:none;">
                            <ul>
                                <li>Connect students outside of the classroom</li>
                                <li>Bring together your entire university community in one place for example, part-time and full time students</li>
                                <li>Bridge across faculties, campuses, modes of study and year levels</li>
                            </ul>
                        </div>
                    </div>
                    <!--inline widget-->
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Increased teaching efficiency</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Expand learning beyond the physical classroom, since there is limited time for student questions within the classroom.</p>
                            <p>Peersview provides a platform where every student has the opportunity to engage and interact with one another on the go about lessons.</p>
                        </div>
                    </div>
                    <!--inline widget-->
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Create a social learning experience</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Our survey depicted that majority of students believed they would have a better student experience if they could find peers with similar interest with little effort.</p>
                        </div>
                    </div>
                    <!--inline widget-->
                </div>
                <div class="col-md-3">
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4>Conduct quick and efficient surveys on students</h4>
                    </div>
                    <!--inline widget-->
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Encourage team work and higher engagement among students</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Peersview campus facilities interaction and collaboration on among classmates on the go.</p>
                        </div>
                    </div>
                    <!--inline widget-->
                    <!--inline widget-->
                    <div class="inline-widget">
                        <h4 class="title-toggle" ng-click="vm.titleOpen($event)">Understand your students better</h4>
                        <div class="inline-content" style="display:none;">
                            <p>Capture interesting data on your students. Peersview delivers insightful information into levels of student satisfaction.</p>
                        </div>
                    </div>
                    <!--inline widget-->
                </div>
            </div>
            <p class="text-center"><a href="#contact" class="btn btn-blue">Request a Demo</a></p>
        </div>
    </div>
    <!--academic block-->
    <!--faq block-->
    <div id="container3" class="tab-pane fade" >
        <div class="faq-header">
            <div class="container">
                <h1>Frequently asked questions</h1>
                <p>If you can’t find the answer to your question, please <a href="#contact"><u>contact us</u></a>.</p>
            </div>
        </div>
        <div class="container">
            <ul class="faq-list">
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">Why should my institution subscribe to the Peersview Campus?</h3>
                    <div class="accordion-description"  style="display:none;">
                        <p>The ability for education providers to create quality student experience is becoming increasing difficult due to varying factors.</p>
                        <p>Whilst online delivery enables learning flexibility and reduced costs - it can also result in disconnected and disengaged students.</p>
                        <p>Peersview helps institutions adapt by implementing social technology to better connect, and engage students from enrolment to graduation.</p>
                    </div>
                </li>
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">How much does Peersview Campus Cost?</h3>
                    <div class="accordion-description" style="display:none;">
                        <p>Contact us.</p>
                    </div>
                </li>
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">What is required to setup a Peersview Campus?</h3>
                    <div class="accordion-description" style="display:none;">
                        <p>Please contact us for details.</p>
                    </div>
                </li>
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">When should students start using Peersview Campus?</h3>
                    <div class="accordion-description" style="display:none;">
                        <p>We recommend institutions invite students to join their Peersview network from enrolment (or even earlier if possible).</p>
                    </div>
                </li>
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">What support is available to students?</h3>
                    <div class="accordion-description" style="display:none;">
                        <p>Support is available according to Subscriptions selected.</p>
                    </div>
                </li>
                <li>
                    <h3 class="accordion-heading" ng-click="vm.accordionOpen($event)" href="javascript: void(0);">What level of control does an institution have over its Peersview Campus?</h3>
                    <div class="accordion-description" style="display:none;">
                        <p>Control would be according to Administrative Privileges in subscription.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--faq block-->
<!--footer start-->
<footer>
    <div class="container relative">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-2">
                <p class="marginT30"><img src="images/footer-logo.png" alt=""></p>
                <p>Copyright 2017 <br />
                    All rights reserved.</p>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="footer-title">Company</h4>
                <ul>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#about#team-info">Our Team</a></li>
                    <li><a href="#careers">Careers</a></li>
                    <li><a href="#termsOfUse">Peersview Terms, Policy and Agreement</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="footer-title">SUPPORT</h4>
                <ul>
                    <li><a href="#support">Help Center</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2">
                <h4 class="footer-title">Online Campus</h4>
                <ul>
                    <li><a href="#registerCommunity">Campus Adminstrator</a></li>
                    <li><a href="homepage#container3" class="tab-link3" data-toggle="tab" class="tab-link3">FAQ</a></li>
                    <li><a href="#choosePlan">Pricing</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="#termsOfUseUser">Terms of Use</a></li>
                    <li><a href="javascript:void(0);">Service & Software Licence Agreement</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 main">
                <div class="social-block">
                    <h4 class="footer-title">Connect With Us</h4>
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/Peersview/photos/a.566913337032403.1073741827.562272277496509/566975103692893/?type=1&theater" class="fb" data-toggle="tooltip" title="Facebook"></a>
                        <a target="_blank" href="https://twitter.com/Peersview" class="twitter" data-toggle="tooltip" title="Twitter"></a>
                        <a target="_blank" href="https://www.instagram.com/peersview/" class="email" data-toggle="tooltip" title="Insta"></a>
                        <a target="_blank" href="javascript:void(0);" class="linkedin" data-toggle="tooltip" title="Linkedin"></a> </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer start-->
<div id="backToTop" title="Back to Top"></div>