<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close"><span aria-hidden="true">x</span></button>
    <h4 class="modal-title">Accomplishments</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <textarea class="form-control" rows="5">Donec maximus semper velit. Vivamus faucibus accumsan odio. In quam purus, consequat eget hendrerit sit amet, consectetur eget orci. Ut sit amet suscipit ligula, in commodo tortor. Nullam at ipsum porttitor, interdum magna vestibulum, scelerisque tortor.</textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-grey" ng-click="vm.cancel()">Cancel</button>
    <button type="button" class="btn btn-blue">Save</button>
</div>