<div class="widget peers-online-widget">
    <h5 class="widget-title"><i class="material-icons">people</i> Peers (<strong>24 Online</strong>)</h5>
    <ul class="users-list">
        <li data-toggle="tooltip" title="Angela Gill"><img src="images/user1.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Faith Black"><i class="online-indicator"></i><img src="images/user2.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Olivia	Metcalfe"><img src="images/user3.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Adekunle Amodu"><i class="online-indicator"></i><img src="images/user4.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Gordon Piper"><img src="images/user5.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="David Ball"><i class="online-indicator"></i><img src="images/user6.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Megan Vaughan"><img src="images/user7.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
        <li data-toggle="tooltip" title="Gavin Newman"><i class="online-indicator"></i><img src="images/user8.jpg" alt="" ng-click="vm.openUsersProfile('sm')" /></li>
    </ul>
    <div class="widget-bottom">
        <a class="link-und" href="#peersList">View All</a>
    </div>
</div>