<app-navbar active="'forum'"></app-navbar>
<div class="forum-page-bg">
    <div class="container forum fixed-header grey">
        <div class="row">
            <div class="col-md-3 forum-leftmenu fixed-sidebar-wrapper">
                <div class="sticky-width sticky">
                    <div class="fixed-sidebar text-lower">
                        <ul>
                            <li class="active-link forum-home"><a href="#forumHome">
                                <i class="material-icons">forum</i>
                                <span class="link-text">Forum</span></a>
                            </li>
                            <li class="forum-career"><a href="#forumCareers">
                                <i class="material-icons">work</i>
                                <span class="link-text">Careers</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 forum-tab fixed-sidebar-content">
                <div class="page-tab" id="post-tab">
                    <ul>
                        <li class="active"><a href="forumCareers#general" data-toggle="tab">General Forum</a></li>
                        <li>
                            <a href="forumCareers#course" data-toggle="tab">
                                <span>Course</span>
                                <img class="passive" src="images/univercity_white.png"/>
                                <img class="active" src="images/univercity_grey.png"/>
                                <select class="form-control designation">
                                    <option>Course</option>
                                    <option>Agriculture &amp; Forestry</option>
                                    <option>Animation &amp; Visual effects</option>
                                    <option>Aviation</option>
                                    <option>Anatomy &amp; Physiology</option>
                                    <option>Anthropology</option>
                                    <option>Architecture &amp; The built environment</option>
                                    <option>Accounting</option>
                                    <option>Astronomy</option>
                                    <option>Biological science</option>
                                    <option>Biochemistry</option>
                                    <option>Bio-medical science</option>
                                    <option>Botany</option>
                                    <option>Business &amp; Management</option>
                                    <option>Chemistry</option>
                                    <option>Classics &amp; Ancient History</option>
                                    <option>Communication and Media studies</option>
                                    <option>Computer Science and Information Systems</option>
                                    <option>Cosmetology</option>
                                    <option>Creative Arts</option>
                                    <option>Dentistry</option>
                                    <option>Development Studies</option>
                                    <option>Drama</option>
                                    <option>Earth &amp; Marine Science</option>
                                    <option>Economics</option>
                                    <option>Education &amp; Training</option>
                                    <option>Engineering - Pertoleum</option>
                                    <option>Engineering - Aeronautical</option>
                                    <option>Engineering - Civil &amp; Structural</option>
                                    <option>Engineering - Computer&amp; Network</option>
                                    <option>Engineering - Electrical</option>
                                    <option>Engineering - Mineral &amp; Mining</option>
                                    <option>Engineering - Chemical</option>
                                    <option>Engineering - Mechanical</option>
                                    <option>English Language &amp; Literature</option>
                                    <option>Ethnicity, Gender &amp; Diversity</option>
                                    <option>Finance</option>
                                    <option>Film Studies</option>
                                    <option>Food Science</option>
                                    <option>Geography</option>
                                    <option>Hospitality &amp; Leisure Management</option>
                                    <option>Human Resource Management</option>
                                    <option>International Relations</option>
                                    <option>Interactive media</option>
                                    <option>Journalism</option>
                                    <option>Law and Legal Studies</option>
                                    <option>Library &amp; Information Management</option>
                                    <option>Life Sciences</option>
                                    <option>Linguistics</option>
                                    <option>Logistics &amp; Supply Chain Management</option>
                                    <option>Marketing</option>
                                    <option>Material Science</option>
                                    <option>Mathematics</option>
                                    <option>Medicine</option>
                                    <option>Medical Radiation</option>
                                    <option>Modern Languages</option>
                                    <option>Nursing</option>
                                    <option>Optometry</option>
                                    <option>Performing Arts</option>
                                    <option>Product Design</option>
                                    <option>Pharmacy</option>
                                    <option>Philosophy</option>
                                    <option>Psychology</option>
                                    <option>Public Policy</option>
                                    <option>Social &amp; Political science</option>
                                    <option>Sociology</option>
                                    <option>Sports Science</option>
                                    <option>Statistics and Operations</option>
                                    <option>Theology, Divinity and Religious Studies</option>
                                    <option>Urban Planning</option>
                                    <option>Veterinary Science</option>
                                    <option>Zoology</option>
                                    <option>Others</option>
                                </select>
                            </a>
                        </li>
                        <li class="pull-right select-degree">
                            <i class="material-icons">settings</i>
                            <select class="form-control designation">
                                <option>Postgraduate</option>
                                <option>Undergraduate </option>
                                <option>Undergraduate </option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="general">
                        <div class="forum-header">
                            <div class="question-widget">
                                <h4 class="question-title">Ask a question?</h4>
                                <div class="question-input">
                                    <span class="by-user-img">
                                        <img src="images/profile.jpg" alt="" />
                                        <p>Mark Grey</p>
                                    </span>
                                    <span class="by-user-text">
                                        <i class="input-caret grey-caret"></i>
                                        <div>
                                            <input class="upload-file" id="uploadImage" type="file" style="display:none;" />
                                            <label for="uploadImage" class="img-upload flat-btn"><i class="material-icons">link</i></label>
                                            <input type="text" class="form-control" placeholder="What’s your question?" />
                                        </div>
                                        <a href="javascript:void(0);" class=" btn btn-blue">Post a question</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 forum-feed">
                            <div class="row">
                                <div class="col-md-9">
                                    <!--top post-->
                                    <span class="header-tab">Latest Discussions</span>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <top-questions></top-questions>
                                    <sidebar-image></sidebar-image>
                                    <sidebar-footer></sidebar-footer>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="course">
                        <div class="forum-header">
                            <div class="question-widget">
                                <h4 class="question-title">Ask a question?</h4>
                                <div class="question-input">
                                    <span class="by-user-img">
                                        <img src="images/profile.jpg" alt="" />
                                        <p>Mark Grey</p>
                                    </span>
                                    <span class="by-user-text">
                                        <i class="input-caret grey-caret"></i>
                                        <div>
                                            <input class="upload-file" id="uploadImage" type="file" style="display:none;" />
                                            <label for="uploadImage" class="img-upload flat-btn"><i class="material-icons">link</i></label>
                                            <input type="text" class="form-control" placeholder="What’s your question?" />
                                        </div>
                                        <a href="javascript:void(0);" class=" btn btn-blue">Post a question</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 forum-feed">
                            <div class="row">
                                <div class="col-md-9">
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share ">
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star fill"></i>
                                                    <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li>
                                                                <button class="flat-btn"><img src="images/icon_like.png"/> </button>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star fill"></i>
                                                                <i class="star"></i>
                                                                &nbsp; Likes (135)
                                                            </li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                    <div class="post-footer">
                                                        <button class="flat-btn"><i class="material-icons">redo</i> Follow Post</button>
                                                        <a href="#forumHomeReply" class="flat-btn pull-right"><i class="material-icons">create</i> Answer</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                </div>
                                <div class="col-md-3">
                                    <top-questions></top-questions>
                                    <sidebar-image></sidebar-image>
                                    <sidebar-footer></sidebar-footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>