<app-navbar active="'forum'"></app-navbar>
<div class="forum-page-bg">
    <div class="container forum fixed-header">
        <div class="row">
            <div class="col-md-3 forum-leftmenu">
                <div class="sticky-width sticky">
                    <div class="forum-sidebar text-lower">
                        <ul>
                            <li class="active-link forum-home"><a href="#forumHome"><img class="icon"
                                                                                         src="images/forum_icon_grey.png"/>
                                <span class="link-text">Forum</span></a></li>
                            <li class="forum-career"><a href="#forumCareers"><img class="icon"
                                                                                  src="images/case_icon_grey.png"/><span
                                    class="link-text">Careers</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 forum-tab">
                <div class="page-tab" id="post-tab">
                    <ul>
                        <li class="active"><a href="forumCareers#general" data-toggle="tab">General Forum</a></li>
                        <li>
                            <a href="forumCareers#course" data-toggle="tab">
                                <span>Select Course</span>
                                <img class="passive" src="images/univercity_white.png"/>
                                <img class="active" src="images/univercity_grey.png"/>
                                <select class="form-control designation">
                                    <option>Select Course</option>
                                    <option>Accounting and Finance</option>
                                    <option>Agriculture &amp; Forestry</option>
                                    <option>Anatomy &amp; Physiology</option>
                                    <option>Anthropology</option>
                                    <option>Architecture &amp; The built environment</option>
                                    <option>Astronomy</option>
                                    <option>Biological science</option>
                                    <option>Business &amp; Management</option>
                                    <option>Chemistry</option>
                                    <option>Classics &amp; Ancient History</option>
                                    <option>Communication and Media studies</option>
                                    <option>Computer Science and Information Systems</option>
                                    <option>Creative Arts</option>
                                    <option>Dentistry</option>
                                    <option>Development Studies</option>
                                    <option>Earth &amp; Marine Science</option>
                                    <option>Economics</option>
                                    <option>Education &amp; Training</option>
                                    <option>Engineering- Aeronautical</option>
                                    <option>Engineering- Civil &amp; Structural</option>
                                    <option>Engineering- Computer&amp; Network</option>
                                    <option>Engineering- Electrical</option>
                                    <option>Engineering- Mineral &amp; Mining</option>
                                    <option>Engineering-Chemical</option>
                                    <option>Engineering-Mechanical</option>
                                    <option>English Language &amp; Literature</option>
                                    <option>Ethnicity, Gender &amp; Diversity</option>
                                    <option>Finance</option>
                                    <option>Geography</option>
                                    <option>Hospitality &amp; Leisure Management</option>
                                    <option>Human Resource Management</option>
                                    <option>International Relations</option>
                                    <option>Journalism</option>
                                    <option>Law and Legal Studies</option>
                                    <option>Library &amp; Information Management</option>
                                    <option>Life Sciences</option>
                                    <option>Linguistics</option>
                                    <option>Logistics &amp; Supply Chain Management</option>
                                    <option>Marketing</option>
                                    <option>Material Science</option>
                                    <option>Mathematics</option>
                                    <option>Medicine</option>
                                    <option>Modern Language</option>
                                    <option>Nursing</option>
                                    <option>Optometry</option>
                                    <option>Others</option>
                                    <option>Performing Arts</option>
                                    <option>Pharmacology</option>
                                    <option>Pharmacy</option>
                                    <option>Philosophy</option>
                                    <option>Product Design</option>
                                    <option>Psychology</option>
                                    <option>Public Policy</option>
                                    <option>Social &amp; Political science</option>
                                    <option>Social Work</option>
                                    <option>Sociology</option>
                                    <option>Sports</option>
                                    <option>Sports Science</option>
                                    <option>Statistics and Operations</option>
                                    <option>Theology, Divinity and Religious Studies</option>
                                    <option>Urban Planning</option>
                                    <option>Veterinary Science</option>
                                    <option>Zoology</option>
                                </select>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="general">
                        <div class="forum-header">
                            <div class="question-widget">
                                <h4 class="question-title">Ask a question?</h4>
                                <div class="question-input">
                                    <span class="by-user-img">
                                        <img src="images/profile.jpg" alt="" />
                                        <p>Mark Grey</p>
                                    </span>
                                    <span class="by-user-text">
                                        <i class="input-caret grey-caret"></i>
                                        <input type="text" class="form-control" placeholder="What’s your question?" />
                                        <a href="javascript:void(0);" class=" btn btn-blue">Post a question</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share "><i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> &nbsp; Likes (135)</li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share "><i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> &nbsp; Likes (135)</li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share "><i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> &nbsp; Likes (135)</li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share "><i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> &nbsp; Likes (135)</li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                    <!--top post-->
                                    <div class="top-post">
                                        <div class="row">
                                            <div class="col-md-3 forum-user-details text-right">
                                                <img src="images/user4.jpg" alt="">
                                                <p>Mark Grey</p>
                                                <span>University of Toronto</span>
                                                <div class="post-share "><i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star fill"></i>
                                                    <i class="star fill"></i> <i class="star"></i></div>
                                            </div>
                                            <div class="col-md-9 top-user-left">
                                                <div class="top-user">
                                                    <div class="forum-post">
                                                        <i class="input-caret grey-caret"></i>
                                                        <p>I loved watching this video.  I am a visual learner and seeing such good teaching in practice was very helpful for me.  I do like the idea of getting students to challenge each others thinking.  I am going...</p>
                                                    </div>
                                                    <div class="post-share">
                                                        <ul>
                                                            <li> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star fill"></i> <i class="star"></i> &nbsp; Likes (135)</li>
                                                            <li class="reply pull-right" ng-click="vm.openPostDetail('lg')"><a href="javascript:void(0);">106 Replies</a></li>
                                                            <li class="view pull-right">670 Views</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--top post-->
                                </div>
                                <div class="col-md-4">
                                    <div class="widget">
                                        <div class="widget-title">Top Question for you</div>
                                        <ul class="question-list">
                                            <li> <span class="lbl-question">Question asked</span> <span class="lbl-by-user">John Smith (politics) <small>• 57m</small></span>
                                                <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
                                                <div class="post-share">
                                                    <ul>
                                                        <li class="view">670 Views</li>
                                                        <li class="share">100 Shares</li>
                                                    </ul>
                                                </div>
                                                <a href="javascript:void(0);" class="btn btn-sm btn-white">Write Answer</a> </li>
                                            <li> <span class="lbl-question">Question asked</span> <span class="lbl-by-user">John Smith (politics) <small>• 57m</small></span>
                                                <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
                                                <div class="post-share">
                                                    <ul>
                                                        <li class="view">670 Views</li>
                                                        <li class="share">100 Shares</li>
                                                    </ul>
                                                </div>
                                                <a href="javascript:void(0);" class="btn btn-sm btn-white">Write Answer</a> </li>
                                            <li> <span class="lbl-question">Question asked</span> <span class="lbl-by-user">John Smith (politics) <small>• 57m</small></span>
                                                <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
                                                <div class="post-share">
                                                    <ul>
                                                        <li class="view">670 Views</li>
                                                        <li class="share">100 Shares</li>
                                                    </ul>
                                                </div>
                                                <a href="javascript:void(0);" class="btn btn-sm btn-white">Write Answer</a> </li>
                                            <li> <span class="lbl-question">Question asked</span> <span class="lbl-by-user">John Smith (politics) <small>• 57m</small></span>
                                                <h5 class="question-asked">What if Kejriwal kills Modi?</h5>
                                                <div class="post-share">
                                                    <ul>
                                                        <li class="view">670 Views</li>
                                                        <li class="share">100 Shares</li>
                                                    </ul>
                                                </div>
                                                <a href="javascript:void(0);" class="btn btn-sm btn-white">Write Answer</a> </li>
                                        </ul>
                                    </div>
                                    <div class="widget"> <img src="images/wobi.png" alt="" class="img-responsive" /> </div>
                                    <div class="sidebar-footer">
                                        <p>Copyright 2017 All rights reserved.</p>
                                        <ul>
                                            <li><a href="javascript:void(0);">About Us</a></li>
                                            <li><a href="javascript:void(0);">Our Team</a></li>
                                            <li><a href="javascript:void(0);">Careers</a></li>
                                            <li><a href="javascript:void(0);">Support</a></li>
                                            <li><a href="javascript:void(0);">Events</a></li>
                                            <li><a href="javascript:void(0);">Campus</a></li>
                                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                            <li><a href="javascript:void(0);">Terms & Conditions</a></li>
                                            <li><a href="javascript:void(0);">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>