<div class="widget peers-widget">
    <h3 class="peers-widget-title">Peers You May Know<a href="">VIEW ALL</a></h3>
    <div class="peer-item">
        <button class="flat-btn"><i class="material-icons">person_add</i></button>
        <img src="images/user4.jpg"/>
        <p class="peer-name">Bredley one</p>
        <span><i class="material-icons">account_balance</i>St. Marry's University</span>
        <span><i class="material-icons">school</i>Accounting</span>
    </div>
    <div class="peer-item">
        <button class="flat-btn"><i class="material-icons">person_add</i></button>
        <img src="images/user4.jpg"/>
        <p class="peer-name">Bredley one</p>
        <span><i class="material-icons">account_balance</i>St. Marry's University</span>
        <span><i class="material-icons">school</i>Accounting</span>
    </div>
    <div class="peer-item">
        <button class="flat-btn"><i class="material-icons">person_add</i></button>
        <img src="images/user4.jpg"/>
        <p class="peer-name">Bredley one</p>
        <span><i class="material-icons">account_balance</i>St. Marry's University</span>
        <span><i class="material-icons">school</i>Accounting</span>
    </div>
</div>